@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.logo {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Nunito';
  color: rgb(19, 179, 10);
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  user-select: none;
  background-color: rgba(0, 73, 152, 0.2);
}

.logo:hover {
  background-color: rgba(0, 113, 233, 0.2);
  transform: scale(1.1);
}

body {
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  border-style: dashed;
  border-color: black;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;
}

.main-clue {
  flex-grow: 1;
  text-align: center;
  color: #ddd;
  font-size: 16px;
}

.main-clue img {
  width: 370px;
  height: 320px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  font-size: 18px;
  font-family: 'Nunito';
  border-radius: 40px;
  border: 2px solid #ddd;
  background-color: #ddd;
  user-select: none;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

input:hover {
  border-color: #37ce37;
  background-color: #f7f7f7;
}

input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
}

input::placeholder {
  color: grey;
  font-style: italic;
  font-family: 'Nunito';
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Nunito';
  cursor: pointer;
  margin: 8px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #000000;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.navigation-buttons button {
  background-color: #0355ad;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.feedback {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Nunito';
  color: #2d87f0;
}

.scoreboard {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 15px;
  border-radius: 15px;
  border-style: dashed;
  border-color: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
  user-select: none;
}

.scoreboard h2 {
  margin: 0;
  font-size: 24px;
  font-family: 'Nunito';
}

.scoreboard p {
  margin: 15px 0;
  font-size: 20px;
  font-family: 'Nunito';
}


.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}


